extends ../layout

block content
	div.container.mt-4
		a.btn.btn-secondary(href='/bicicletas') Volver

		h1.text-center Nueva Bicicleta

		form(action='/bicicletas/create' method='post')
			div.mb-3
				label.form-label(for='id') ID:
				input#id.form-control(type='text' name='id')

			div.mb-3
				label.form-label(for='color') Color:
				input#color.form-control(type='text' name='color')

			div.mb-3
				label.form-label(for='modelo') Modelo:
				input#modelo.form-control(type='modelo' name='modelo')

			div.mb-3
				label.form-label(for='latitud') Latitud:
				input#latitud.form-control(type='text' name='latitud')

			div.mb-3
				label.form-label(for='longitud') Longitud:
				input#longitud.form-control(type='text' name='longitud')

			input.btn.btn-primary(type='submit' value='OK')