extends ../layout

block content
	div.container.mt-4
		h1.text-center Lista de Bicicletas

		table.table.table-striped
			thead.table-dark
				tr
					th(scope='col') #
					th(scope='col') Color
					th(scope='col') Modelo
					th(scope='col') Ubicación
					th(scope='col')
					th(scope='col')
					th(scope='col')
			thbody
				each bici in bicis
					tr
						th(scope='row')= bici.id
						td= bici.color
						td= bici.modelo
						td= bici.ubicacion
						td
							a.btn.btn-warning(href=`bicicletas/${bici.id}/show`) Ver
						td
							a.btn.btn-secondary(href=`bicicletas/${bici.id}/update`) Editar
						td
							form.inline-form(method='post' action='bicicletas/' + bici.id + '/delete')
								input(type='hidden' name='id' value=bici.id)
								button.btn.btn-danger(type='submit' name='submit_param' value='submit_value') Eliminar

		a.btn.btn-primary(href='/bicicletas/create') Nueva Bicicleta