extends ../layout

block content
	div.container.mt-4
		h1.text-center Información

		div.card
			div.card-body
				p.card-text
					strong ID: 
					= bici.id
				p.card-text
					strong Color: 
					= bici.color
				p.card-text
					strong Modelo: 
					= bici.modelo
				p.card-text
					strong Ubicación: 
					= bici.ubicacion[0] 
					| , 
					= bici.ubicacion[1]