extends ../layout

block content
	div.container.mt-4
		a.btn.btn-secondary(href='/bicicletas') Volver

		h1.text-center Nueva Bicicleta

		form(action=`/bicicletas/${bici.id}/update` method='post')
			div.mb-3
				label.form-label(for='id') ID:
				input#id.form-control(type='text' name='id' value=bici.id)

			div.mb-3
				label.form-label(for='color') Color:
				input#color.form-control(type='text' name='color' value=bici.color)

			div.mb-3
				label.form-label(for='modelo') Modelo:
				input#modelo.form-control(type='modelo' name='modelo' value=bici.modelo)

			div.mb-3
				label.form-label(for='latitud') Latitud:
				input#latitud.form-control(type='text' name='latitud' value=bici.ubicacion[0])

			div.mb-3
				label.form-label(for='longitud') Longitud:
				input#longitud.form-control(type='text' name='longitud' value=bici.ubicacion[1])

			input.btn.btn-primary(type='submit' value='OK')